# Programação para Advogados – Trabalho Final

Este notebook contém uma análise de dados, apresentada como trabalho de conclusão da matéria *Programação para Advogados* da **FGV Direito-Rio** no semestre 2024.2.

## Autores

O grupo que produziu esta análise é formado pelos seguintes alunos:

- Aluno 1
- Aluno 2
- ...

## Fontes de dados da tabela tratada

Os dados utilizados neste trabalho foram obtidos a partir do repositório de dados fornecido pela plataforma [Base dos Dados](https://basedosdados.org/), uma organização não-governamental sem fins lucrativos e open source que atua para universalizar o acesso a dados de qualidade. 

Esta plataforma disponibiliza, entre outros, um [conjunto de dados do istema de Vigilância Alimentar e Nutricional (Sisvan)](https://basedosdados.org/dataset/d0b61e1c-2ff2-43e7-b32f-5a054ba9b688?table=6e763e07-9b83-487e-9135-fca7872b1f16), que foi escolhido para a nossa análise. Trata-se de um conjunto de dados disponibilizado pelo Ministério da Saúde que traz informações sobre a Vigilância Alimentar e Nutricional (VAN) nos serviços de saúde da Atenção Básica, incluindo a avaliação antropométrica (medidas corporais) e do consumo alimentar. 

Desta fonte, selecionamos dados referentes à altura, peso e imc de indivíduos 753.660 atendimentos realizados com idosos (indivíduos com 65 anos ou mais) no município do Rio de Janeiro, entre 2014 e 2023. Durante o tratamento dos dados, foram excluídos da base os registros de pesos considerados *outliers*, excessivamente baixos ou altos (tomando-se como referência os quantis de 0,01% e de 99,9%, respectivamente).


## Variáveis da tabela tratada

A partir das fontes acima descritas, foi produzida uma tabela tratada, que possui as seguintes colunas:

- `ano`: Ano do período de análise em que foi realizado o acompanhamento, variando de 2014 a 2023.
- `data_acompanhamento`: Data em que foi realizado o acompanhamento, no formato "AAAA-MM-DD".
- `idade`: Idade do indivíduo (a partir de 65 anos).
- `sexo`: Sexo do indivíduo (M - Masculino, F - Feminino).
- `raca_cor`: Identificação de raça ou cor do indivíduo.
- `peso`: Peso, em quilos, do indivíduo.
- `altura`: Altura, em centímetros, do indivíduo.
- `imc`:  Índice de Massa Corporal do indivíduo.

## Análise dos dados

O código a seguir carrega as bibliotecas utilizadas na análise e baixa a tabela já tratada que contém as informações acima descritas, as quais serão utilizadas neste trabalho.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("https://bit.ly/prog24_df2")

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753660 entries, 0 to 753659
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ano                  753660 non-null  int64
 1   data_acompanhamento  753660 non-null  object
 2   idade                753660 non-null  int64
 3   sexo                 753660 non-null  object
 4   raca_cor             753660 non-null  object
 5   peso                 753660 non-null  float64
 6   altura               753660 non-null  float64
 7   imc                  753660 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 46.0+ MB
None

    ano data_acompanhamento  idade sexo        raca_cor   peso  altura    imc
0  2023          2023-10-17     70    M  Sem informacao   76.0   176.0  24.54
1  2023          2023-10-18     62    F           Parda   58.1   149.0  26.17
2  2023          2023-10-18     79    F  Sem informacao   57.3   151.0  25.13
3  2023          2023-02-05     66    M  Sem informacao  112.0   180.0  34.57
4  2023          2023-10-19     67    F         Amarela   68.6   153.0  29.30

### Gráfico 1 – [TÍTULO]

- **Dupla responsável:**
  - Aluno 1
  - Aluno 2

[DESCRIÇÃO DO GRÁFICO 1]

In [ ]:
## Código do gráfico 1

### Gráfico 2 – [TÍTULO]

- **Dupla responsável:**
  - Aluno 1
  - Aluno 2

[DESCRIÇÃO DO GRÁFICO 2]

In [ ]:
## Código do gráfico 2

### Gráfico 3 – [TÍTULO]

- **Dupla responsável:**
  - Aluno 1
  - Aluno 2

[DESCRIÇÃO DO GRÁFICO 3]

In [ ]:
## Código do gráfico 3

### Gráfico 4 – [TÍTULO]

- **Dupla responsável:**
  - Aluno 1
  - Aluno 2

[DESCRIÇÃO DO GRÁFICO 4]

In [ ]:
## Código do gráfico 4

### Conclusões

[DESCRIÇÃO DAS CONCLUSÕES]